body {
  margin: 0;
  padding: 0;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(224, 226, 219);
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.top {
  position: fixed;
  top: 0;
  height: 8vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(210, 212, 200);
  border-radius: 10px;
  z-index: 9999;
}
.top .Logo {
  flex-grow: 0.8;
  display: flex;
  justify-content: center;
}
.top .Logo .logo_name {
  flex-grow: 0.5;
  margin-top: 7px;
  margin-left: 30px;
  padding: 0;
  height: 50px;
  width: auto;
}
.top .navbar {
  flex-grow: 1;
}
.top .navbar li {
  padding: 5px;
  list-style-type: none;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
  font-weight: 600;
}

.parent {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.parent .childcontainer {
  height: auto;
  width: 70vw;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  transform: translateY(20%);
}
.parent .childcontainer .block1 {
  margin-bottom: 25px;
  width: 70vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 116, 112);
  box-shadow: 0px 2px 4px rgb(160, 163, 154), -2px -2px 4px rgb(240, 242, 235);
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(224, 226, 219);
}
.parent .childcontainer .block2 {
  margin-bottom: 25px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .childcontainer .block3 {
  margin-bottom: 15px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .childcontainer .block4 {
  margin-bottom: 25px;
  width: 42vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 116, 112);
  box-shadow: 2px 0px 4px rgb(160, 163, 154);
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 23px;
  text-align: center;
  color: rgb(224, 226, 219);
}
.parent .childcontainer .block5 {
  margin-bottom: 25px;
  width: 42vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 116, 112);
  box-shadow: 0px 2px 4px rgb(160, 163, 154);
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 23px;
  text-align: center;
  color: rgb(224, 226, 219);
}
.parent .childcontainer .block6 {
  margin-bottom: 25px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .childcontainer .block7 {
  margin-bottom: 25px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent2 {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.parent2 .childcontainer2 {
  height: auto;
  width: 70vw;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  transform: translateY(60%);
}
.parent2 .childcontainer2 .block8 {
  margin-bottom: 25px;
  width: 70vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 116, 112);
  box-shadow: 0px 2px 4px rgb(160, 163, 154), -2px -2px 4px rgb(240, 242, 235);
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(224, 226, 219);
}
.parent2 .childcontainer2 .block9 {
  margin-bottom: 25px;
  width: 42vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 116, 112);
  box-shadow: 2px 0px 4px rgb(160, 163, 154);
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 23px;
  text-align: center;
  color: rgb(224, 226, 219);
}
.parent2 .childcontainer2 .block10 {
  margin-bottom: 15px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parent2 .childcontainer2 .block11 {
  margin-bottom: 15px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parent2 .childcontainer2 .block12 {
  margin-bottom: 25px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parent2 .childcontainer2 .block13 {
  margin-bottom: 25px;
  width: 14vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parent2 .childcontainer2 .block14 {
  margin-bottom: 25px;
  width: 42vw;
  height: 25vh;
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 116, 112);
  box-shadow: 0px 2px 4px rgb(160, 163, 154);
  border-radius: 40px;
  font-family: sans-serif;
  font-size: 23px;
  text-align: center;
  color: rgb(224, 226, 219);
}

.bottom {
  box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(210, 212, 200);
  padding: 10px;
  height: 1.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.bottom .footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a ::before {
  color: black;
  text-decoration: none;
}

a ::after {
  color: black;
  text-decoration: none;
}

a :active {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=wettbewerb.css.map */