body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb( 224, 226, 219);
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.top{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(210, 212, 200);
    border-radius: 10px;
    .Logo {
        flex-grow: .8;
        display: flex;
        justify-content: center;
        .logo_name{
            flex-grow: .5;
            margin-top: 7px;
            margin-left: 30px;
            padding: 0;
            height: 50px;
            width: auto;
        }
    }
    .navbar {
        flex-grow: 1;
        li{
            padding: 5px;
            list-style-type: none;
            font-size: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-family:'Courier New', Courier, monospace ;
            font-weight: 600;
        }
    }
}


.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateY(11%);
    .middle{
        display: flex;
        padding: 10px;
        margin: 30px;
        width: 60%;
        height: 76%;
        li {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                .item1 {
                    padding: 10%;
                    
                    margin: 10px;
                    width: 15vw;
                    height: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgb(160, 163, 154),
                    -2px -2px 4px rgb(240, 242, 235);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content1 {
                        position: relative;
                        padding: 20px;
                    }
                }
                .item1 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
                .item2 {
                    padding: 10%;
    
                    margin: 10px;
                    width: 15vw;
                    height: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content2 {
                        position: relative;
                        padding: 20px;
                    }
                }
                .item2 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
                .item3{
                    padding: 10%;
                    margin: 10px;
                    width: 15vw;
                    height: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content3 {
                        position: relative;
                        padding: 20px;
                    }
                }
                .item3 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
                .item4 {
                    padding: 10%;
                    margin: 10px;
                    width: 15vw;
                    height: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content4 {
                        position: relative;
                        padding: 20px;
                    }
                }
                .item4 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
                .item5 {
                    padding: 10%;
                    margin: 10px;
                    width: 15vw;
                    height: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content5 {
                        position: relative;
                        padding: 20px;
                    }
                }
                .item5 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
                .item6 {
                    padding: 10%;
                    margin: 10px;
                    width: 15vw;
                    height: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content6 {
                        position: relative;
                        padding: 0px;
                    }
                }
                .item6 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
                .item7 {
                    padding: 10%;
                    margin: 10px;
                    height: 15vw;
                    width: 15vw;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    background-color: rgb(95, 116, 112);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                    .content7 {
                        position: relative;
                        padding: 20px;
                    }
                }
                .item7 :hover{
                    transition: width 5s;
                    transition: height .5s;
                    width: 16vw;
                    height: 6vw;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    align-items: center;
                }
            }
            a :hover {
                transition: width 5s;
                transition: height .5s;
                width: 16vw;
                height: 16vw;
                background-color: rgb(154, 192, 185);
                color: black;
                font-weight: bold;
            }
            a {
                color: rgb( 224, 226, 219);
                text-decoration: none;
            }
            
            a ::before {
                color: rgb( 224, 226, 219);
                text-decoration: none;
            }
            
            a ::after {
                color: rgb( 224, 226, 219);
                text-decoration: none;
            }
            
            a :active {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.bottom{
    box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(210, 212, 200); 
    padding: 10px;
    height: 1.5vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
}

a {
    color: black;
    text-decoration: none;
}

a ::before {
    color: black;
    text-decoration: none;
}

a ::after {
    color: black;
    text-decoration: none;
}

a :active {
    color: black;
    text-decoration: none;
}