body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(224, 226, 219);
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(210, 212, 200);
  border-radius: 10px;
}
.top .Logo {
  flex-grow: 0.8;
  display: flex;
  justify-content: center;
}
.top .Logo .logo_name {
  flex-grow: 0.5;
  margin-top: 7px;
  margin-left: 30px;
  padding: 0;
  height: 50px;
  width: auto;
}
.top .navbar {
  flex-grow: 1;
}
.top .navbar li {
  padding: 5px;
  list-style-type: none;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.parent .middle {
  display: flex;
  padding: 10px;
  margin: 30px;
  width: 60%;
  height: 76%;
}
.parent .middle li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}
.parent .middle li .item1 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
  text-align: center;
}
.parent .middle li .item1 .content1 {
  position: relative;
  padding: 20px;
}
.parent .middle li .item1 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li .item2 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
}
.parent .middle li .item2 .content2 {
  position: relative;
  padding: 20px;
}
.parent .middle li .item2 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li .item3 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
}
.parent .middle li .item3 .content3 {
  position: relative;
  padding: 20px;
}
.parent .middle li .item3 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li .item4 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
}
.parent .middle li .item4 .content4 {
  position: relative;
  padding: 20px;
}
.parent .middle li .item4 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li .item5 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
}
.parent .middle li .item5 .content5 {
  position: relative;
  padding: 20px;
}
.parent .middle li .item5 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li .item6 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
}
.parent .middle li .item6 .content6 {
  position: relative;
  padding: 0px;
}
.parent .middle li .item6 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li .item7 {
  padding: 10%;
  border: 1px solid rgb(125, 136, 136);
  margin: 10px;
  height: 15vw;
  width: 15vw;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(136, 150, 150);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: large;
}
.parent .middle li .item7 .content7 {
  position: relative;
  padding: 20px;
}
.parent .middle li .item7 :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 6vw;
}
.parent .middle li :hover {
  transition: width 5s;
  transition: height 0.5s;
  width: 16vw;
  height: 16vw;
  background-color: rgb(168, 190, 190);
}

.bottom {
  box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(210, 212, 200);
  padding: 10px;
  height: 1.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.bottom .footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: black;
  text-decoration: none;
}

a ::before {
  color: black;
  text-decoration: none;
}

a ::after {
  color: black;
  text-decoration: none;
}

a :active {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */